 <!--main headline-->
    <header>
      <h1 class="display-5 text-center pt-4">
        <a class="navbar-brand" href="#">RAHUL KATHAK</a>
      </h1>
      <!-- navbar -->
      <nav
        class="navbar navbar-expand-lg fs-5"
        aria-label="Offcanvas navbar large "
      >
        <div class="container-fluid">
          <!-- toggle button -->
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar2"
            aria-controls="offcanvasNavbar2"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="offcanvas offcanvas-start text-bg-white"
            tabindex="-1"
            id="offcanvasNavbar2"
          >
            <div class="offcanvas-header">
              <!-- dismiss button -->
              <button
                type="button"
                class="btn-close btn-close-dark"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              ></button>
            </div>
            <!--nav menu-->
            <div class="offcanvas-body">
              <ul class="navbar-nav left-menu mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="performance.html">Performance</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="gallery.html">Gallery</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact.html">Contact</a>
                </li>
              </ul>
              <ul class="navbar-nav right-menu d-flex flex-row">
                <!-- social icons -->
                <!-- facebook  -->
                <li class="nav-item me-3 me-lg-0">
                  <a
                    class="nav-link"
                    href="https://www.facebook.com/profile.php?id=100008107844054"
                    target="_blank"
                  >
                    <i class="fab fa-facebook-f text-dark"></i>
                  </a>
                  <!-- instagram -->
                </li>
                <li class="nav-item me-3 me-lg-0">
                  <a
                    class="nav-link"
                    href="https://instagram.com/rahulkumar_kathak?igshid=MzRlODBiNWFlZA=="
                    target="_blank"
                  >
                    <i class="fab fa-instagram text-dark"></i>
                  </a>
                </li>
                <li class="nav-item me-3 me-lg-0">
                  <a
                    class="nav-link"
                    href="https://youtube.com/@rahulkumarrajak2898"
                    target="_blank"
                  >
                    <i class="fab fa-youtube text-dark"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>